body{
  margin:0;
}
header{

  background-color:lightblue;
  color:white;
  padding:8px 0px 6px 40px;
  height:50px;
}
header h1{

	font-size:50px;
	float:left;
	margin-top:0px;
	margin-right:20px;
	
}
nav ul{
	padding:0;
	float:left;
}
nav ul li{
	display:inline-block;
	list-style-type:none;
	float:left;
	margin-right:12px;
}
nav ul li a{
	font-size:25px;
	color:white;
	text-decoration:none;
}
.homelog{
	margin-left:190px;
	float:right;
	

}
.homelog:hover{

	background-color:blue;
	padding:10px 10px 5px 10px;
}
.homered{
	background-color:blue;
	padding:30px 10px 12px 10px;
}
.divider{
	background-color:blue;
	height:7px;
}
.homeblack:hover{

	background-color:blue;
	padding:30px 10px 12px 10px;
}
.image{
	background-image:url(pictures/wall.jpg);
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	
}

.info1{
	height:145px;
	font-size:25px;
	background-color:lightgrey;
	
}