body{
  margin:0;
}
header{

  background-color:lightblue;
  color:white;
  padding:8px 0px 6px 40px;
  height:50px;
}
header h1{

	font-size:50px;
	float:left;
	margin-top:0px;
	margin-right:20px;
	
}
nav ul{
	padding:0;
	float:left;
}
nav ul li{
	display:inline-block;
	list-style-type:none;
	float:left;
	margin-right:12px;
}
nav ul li a{
	font-size:25px;
	color:white;
	text-decoration:none;
}
.homered{
	background-color:blue;
	padding:30px 10px 12px 10px;
}
.divider{
	background-color:blue;
	height:7px;
}
.homeblack:hover{

	background-color:blue;
	padding:30px 10px 12px 10px;
}
.image{
	background-image:url(pictures/bank1.jpg);
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
}
.heading1{
	font-weight:bold;
	font-size:18px;
	margin:0;
	padding:6% 5% 0% 40%;

}
.inps1{
	margin:0.5% 2% 0% 40%;
	padding:0% 0% 0.8% 0%;
	font-size:15px;

}
.heading2{
	font-weight:bold;
	font-size:18px;
	margin:0% 0% 0% 0%;
	padding:2% 5% 0% 40%;
	
}
.inps2{
	margin:0% 2% 0% 40%;
	padding:0% 0% 0.8% 0%;
	font-size:15px;
}
.singupbutton{
	background-color:blue;
	margin:2% 0% 0% 41.5%;
	color:"black";
	border:none;
	height:25px;
	font-size:2.5ex;
	padding: 0ex 1ex 0ex 1ex;
	cursor:pointer;
	outline:none;
	
}
.heading3{
	font-weight:bold;
	font-size:18px;
	margin:0% 0% 0% 0%;
	padding:2% 5% 0% 40%;
}
.inps3{
	margin:0% 2% 0% 40%;
	padding:0% 0% 0.8% 0%;
	font-size:15px;
}
.heading4{
	font-weight:bold;
	font-size:18px;
	margin:0% 0% 0% 0%;
    padding:2% 5% 0% 40%;

}
	
.inps4{
	font-size:15px;
	margin:0% 2% 0% 40%;
	padding:0% 0% 0.8% 0%;
}
